<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

    <servlet>
        <servlet-name>TaskServlet</servlet-name>
        <servlet-class>
            edu.ucsb.cs.appscale.oration.app.TaskServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DataServlet</servlet-name>
        <servlet-class>
            edu.ucsb.cs.appscale.oration.app.DataServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComputeServlet</servlet-name>
        <servlet-class>
            edu.ucsb.cs.appscale.oration.app.ComputeServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>
            edu.ucsb.cs.appscale.oration.app.IndexServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>TaskServlet</servlet-name>
        <url-pattern>/task</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DataServlet</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComputeServlet</servlet-name>
        <url-pattern>/compute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
